body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;

      
      

}


video {
  width: 50%;
  height: auto;
  align-items: center;
}

body {
  text-align: center;
  padding-top: 20px;
  text-shadow: 5px;
}

.buttons {
padding-left: 44%;
}